.-flex {
  display: flex; }

.-flex-v {
  flex-direction: column; }

.-flex-1 {
  flex-grow: 1; }

.-justify-around {
  justify-content: space-around; }

.-justify-between {
  justify-content: space-between; }

.-justify-center {
  justify-content: center; }

.-align-center {
  align-items: center; }

.-white {
  color: #fff; }

.-text-center {
  text-align: center; }

.-space-02 {
  letter-spacing: 0.2px; }

.-space-07 {
  letter-spacing: 0.7px; }

.-space-93 {
  letter-spacing: 0.93px; }

.-space-12 {
  letter-spacing: 1.2px; }

.-margin-t-20 {
  margin-top: 20px; }

.-margin-t-32 {
  margin-top: 32px; }

.-margin-b-32 {
  margin-bottom: 32px; }

.-margin-v-24 {
  margin-top: 24px;
  margin-bottom: 24px; }

.-margin-v-48 {
  margin-top: 48px;
  margin-bottom: 48px; }

.-margin-v-64 {
  margin-top: 64px;
  margin-bottom: 64px; }

.-margin-h-12 {
  margin-left: 12px;
  margin-right: 12px; }

.-margin-h-24 {
  margin-left: 24px;
  margin-right: 24px; }

.-margin-h-32 {
  margin-left: 32px;
  margin-right: 32px; }

.-margin-h-56 {
  margin-left: 56px;
  margin-right: 56px; }

.-margin-h-76 {
  margin-left: 76px;
  margin-right: 76px; }

.-bg-grey {
  background-color: #F5F6F7; }

.-hidden {
  display: none; }

.-thin {
  font-family: 'Montserratarm-Thin', sans-serif;
  font-weight: 100; }

.-extra-light {
  font-family: 'Montserratarm-ExtraLight', sans-serif;
  font-weight: 200; }

.-light {
  font-family: 'Montserratarm-Light', sans-serif;
  font-weight: 300; }

.-regular {
  font-family: 'Montserratarm-Regular', sans-serif;
  font-weight: 400; }

.-medium {
  font-family: 'Montserratarm-Medium', sans-serif;
  font-weight: 500; }

.-semi-bold {
  font-family: 'Montserratarm-SemiBold', sans-serif;
  font-weight: 600; }

.-bold {
  font-family: 'Montserratarm-Bold', sans-serif;
  font-weight: 700; }

.-extra-bold {
  font-family: 'Montserratarm-ExtraBold', sans-serif;
  font-weight: 800; }

.-black {
  font-family: 'Montserratarm-Black', sans-serif;
  font-weight: 900; }

@font-face {
  font-family: 'Montserratarm-Black';
  src: url("../../fonts/Montserratarm-Black/Montserratarm-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserratarm-Black/Montserratarm-Black.otf") format("opentype"), url("../../fonts/Montserratarm-Black/Montserratarm-Black.woff") format("woff"), url("../../fonts/Montserratarm-Black/Montserratarm-Black.ttf") format("truetype"), url("../../fonts/Montserratarm-Black/Montserratarm-Black.svg#Montserratarm-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserratarm-Bold';
  src: url("../../fonts/Montserratarm-Bold/Montserratarm-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserratarm-Bold/Montserratarm-Bold.otf") format("opentype"), url("../../fonts/Montserratarm-Bold/Montserratarm-Bold.woff") format("woff"), url("../../fonts/Montserratarm-Bold/Montserratarm-Bold.ttf") format("truetype"), url("../../fonts/Montserratarm-Bold/Montserratarm-Bold.svg#Montserratarm-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserratarm-ExtraBold';
  src: url("../../fonts/Montserratarm-ExtraBold/Montserratarm-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserratarm-ExtraBold/Montserratarm-ExtraBold.otf") format("opentype"), url("../../fonts/Montserratarm-ExtraBold/Montserratarm-ExtraBold.woff") format("woff"), url("../../fonts/Montserratarm-ExtraBold/Montserratarm-ExtraBold.ttf") format("truetype"), url("../../fonts/Montserratarm-ExtraBold/Montserratarm-ExtraBold.svg#Montserratarm-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Montserratarm-ExtraLight';
  src: url("../../fonts/Montserratarm-ExtraLight/Montserratarm-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserratarm-ExtraLight/Montserratarm-ExtraLight.otf") format("opentype"), url("../../fonts/Montserratarm-ExtraLight/Montserratarm-ExtraLight.woff") format("woff"), url("../../fonts/Montserratarm-ExtraLight/Montserratarm-ExtraLight.ttf") format("truetype"), url("../../fonts/Montserratarm-ExtraLight/Montserratarm-ExtraLight.svg#Montserratarm-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Montserratarm-Light';
  src: url("../../fonts/Montserratarm-Light/Montserratarm-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserratarm-Light/Montserratarm-Light.otf") format("opentype"), url("../../fonts/Montserratarm-Light/Montserratarm-Light.woff") format("woff"), url("../../fonts/Montserratarm-Light/Montserratarm-Light.ttf") format("truetype"), url("../../fonts/Montserratarm-Light/Montserratarm-Light.svg#Montserratarm-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserratarm-Medium';
  src: url("../../fonts/Montserratarm-Medium/Montserratarm-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserratarm-Medium/Montserratarm-Medium.otf") format("opentype"), url("../../fonts/Montserratarm-Medium/Montserratarm-Medium.woff") format("woff"), url("../../fonts/Montserratarm-Medium/Montserratarm-Medium.ttf") format("truetype"), url("../../fonts/Montserratarm-Medium/Montserratarm-Medium.svg#Montserratarm-Medium") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserratarm-Regular';
  src: url("../../fonts/Montserratarm-Regular/Montserratarm-Regular.eot"), url("../../fonts/Montserratarm-Regular/Montserratarm-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserratarm-Regular/Montserratarm-Regular.otf") format("opentype"), url("../../fonts/Montserratarm-Regular/Montserratarm-Regular.woff") format("woff"), url("../../fonts/Montserratarm-Regular/Montserratarm-Regular.ttf") format("truetype"), url("../../fonts/Montserratarm-Regular/Montserratarm-Regular.svg#Montserratarm-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserratarm-SemiBold';
  src: url("../../fonts/Montserratarm-SemiBold/Montserratarm-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserratarm-SemiBold/Montserratarm-SemiBold.otf") format("opentype"), url("../../fonts/Montserratarm-SemiBold/Montserratarm-SemiBold.woff") format("woff"), url("../../fonts/Montserratarm-SemiBold/Montserratarm-SemiBold.ttf") format("truetype"), url("../../fonts/Montserratarm-SemiBold/Montserratarm-SemiBold.svg#Montserratarm-SemiBold") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserratarm-Thin';
  src: url("../../fonts/Montserratarm-Thin/Montserratarm-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserratarm-Thin/Montserratarm-Thin.otf") format("opentype"), url("../../fonts/Montserratarm-Thin/Montserratarm-Thin.woff") format("woff"), url("../../fonts/Montserratarm-Thin/Montserratarm-Thin.ttf") format("truetype"), url("../../fonts/Montserratarm-Thin/Montserratarm-Thin.svg#Montserratarm-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

h1 {
  font-size: 72px;
  line-height: 88px;
  font-family: 'Montserratarm-Bold', sans-serif;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 12px; }

h2 {
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.1px;
  font-family: 'Montserratarm-Bold', sans-serif;
  font-weight: 700; }

h3 {
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.5px;
  font-family: 'Montserratarm-Bold', sans-serif;
  font-weight: 700;
  margin-top: 21px;
  margin-bottom: 12px; }

h4 {
  font-size: 24px;
  line-height: 29px;
  font-family: 'Montserratarm-Bold', sans-serif;
  font-weight: 700;
  margin-top: 56px;
  margin-bottom: 14px; }

a {
  color: #F01B47;
  text-decoration: none;
  transition: color 0.2s ease;
  cursor: pointer; }
  a:hover {
    color: #f67b94; }

p {
  color: #505050; }

.bold {
  font-family: 'Montserratarm-Bold', sans-serif;
  font-weight: 700; }

::selection {
  background-color: #F01B47;
  color: #fff; }

.container {
  width: 1024px;
  margin: 0 auto; }

.separator {
  width: 100%; }
  .separator:not(.-dark) {
    background-color: rgba(255, 255, 255, 0.7); }
  .separator.-dark {
    background-color: #333; }
  .separator:not(.-thick) {
    height: 1px; }
  .separator.-thick {
    height: 2px; }

.panel, .dropdown {
  height: 44px;
  box-sizing: border-box;
  padding: 12px;
  background-color: #fff;
  border-radius: 22px;
  display: inline-block; }
  .panel a, .dropdown a {
    line-height: 21px;
    margin: 0 12px;
    color: #505050;
    transition: color 0.2s ease; }
    .panel a:hover, .panel a:focus, .panel a.active, .dropdown a:hover, .dropdown a:focus, .dropdown a.active {
      color: #F01B47; }
  .panel.-grey, .dropdown.-grey {
    background-color: #F5F6F7; }

.dropdown {
  height: 44px;
  box-sizing: border-box;
  padding: 9px 12px;
  background-color: #fff;
  border-radius: 22px;
  display: inline-block;
  position: relative;
  z-index: 9999;
  width: 170px; }
  .dropdown.open:before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 276px;
    background: #fff;
    left: 0px;
    top: 0;
    border-radius: 22px;
    z-index: 9998; }
  .dropdown.open svg {
    transform: rotate(0.5turn); }
  .dropdown a {
    display: block;
    line-height: 28px;
    margin: 0 12px;
    color: #505050;
    transition: color 0.2s ease; }
    .dropdown a:hover, .dropdown a:focus, .dropdown a.active {
      color: #F01B47; }
  .dropdown .selected-font-weight {
    position: relative;
    z-index: 9999;
    cursor: pointer; }
    .dropdown .selected-font-weight:hover a {
      color: #F01B47; }
    .dropdown .selected-font-weight:hover svg path {
      transition: all 0.3s ease;
      fill: #F01B47; }
  .dropdown.-grey {
    background-color: #F5F6F7; }
  .dropdown .options {
    position: relative;
    z-index: 9999; }
  .dropdown svg {
    margin-top: 8px;
    margin-right: 12px;
    transition: all 0.3s ease; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: 'Montserratarm-Regular', sans-serif; }

.main {
  height: 800px;
  padding-top: 183px;
  background-image: url(../img/header.jpg);
  background-size: cover;
  box-sizing: border-box; }
  .main .ligatures span {
    font-size: 48px;
    line-height: 56px; }

.navigation {
  position: absolute;
  width: 628px;
  height: 42px;
  background-color: #fff;
  border-radius: 21px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  padding: 0 32px;
  box-sizing: border-box;
  top: 72px;
  z-index: 9999;
  left: 25%;
  transform: translateY(-50%); }
  .navigation .nav-item {
    color: #505050;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.875em;
    line-height: 42px;
    transition: color 0.3s ease; }
    .navigation .nav-item:hover, .navigation .nav-item.active {
      color: #44BF75; }
  .navigation.fixed {
    position: fixed;
    top: 12px; }

.description {
  font-size: 12px;
  line-height: 15px;
  padding: 0 124px; }

.stats {
  padding: 0 54px; }
  .stats span {
    font-family: 'Montserratarm-Medium', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin: 2px 12px;
    text-align: left; }
    .stats span.small-text {
      font-size: 14px; }

.preview {
  padding: 32px 0 48px 0; }
  .preview p {
    font-size: 16px;
    line-height: 32px; }
  .preview h2 {
    line-height: 78px; }

.test {
  padding: 68px 0 48px 0;
  transition: all 0.5s ease; }
  .test.test-grey {
    background-color: #F5F6F7; }
    .test.test-grey .separator {
      background-color: #333333; }
    .test.test-grey .colors .color.-grey {
      border: 1px solid #979797; }
  .test.test-black {
    background-color: #333333;
    color: #fff; }
    .test.test-black p, .test.test-black .current-size, .test.test-black .colors {
      color: #fff; }
    .test.test-black .separator {
      background-color: #fff; }
    .test.test-black .colors .color.-black {
      border: 1px solid #fff; }
  .test.test-green {
    background-color: #44BF75;
    color: #fff; }
    .test.test-green p, .test.test-green .current-size, .test.test-green .colors, .test.test-green .type-your-text {
      color: #fff; }
    .test.test-green .separator {
      background-color: #fff; }
    .test.test-green .colors .color.-green {
      border: 1px solid #fff; }
  .test.test-red {
    background-color: #F01B47;
    color: #fff; }
    .test.test-red p, .test.test-red .current-size, .test.test-red .colors, .test.test-red .type-your-text {
      color: #fff; }
    .test.test-red .separator {
      background-color: #fff; }
    .test.test-red .slider-holder .ui-widget-header, .test.test-red .slider-holder .ui-state-default, .test.test-red .slider-holder .ui-widget-content .ui-state-default {
      background: #333333; }
    .test.test-red .colors .color.-red {
      border: 1px solid #fff; }
  .test .slider-holder {
    width: 464px; }
    .test .slider-holder .ui-widget.ui-widget-content {
      border: none;
      border-radius: 2.5px; }
    .test .slider-holder .ui-slider-horizontal {
      height: 5px; }
    .test .slider-holder .ui-widget-header {
      border-radius: 2.5px;
      background: #F01B47; }
    .test .slider-holder .ui-widget-content {
      background: #D8D8D8; }
    .test .slider-holder .ui-state-default, .test .slider-holder .ui-widget-content .ui-state-default {
      border: none;
      background: #F01B47;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      outline: none; }
    .test .slider-holder .ui-slider-horizontal .ui-slider-handle {
      top: -6px;
      margin-left: -10px;
      cursor: pointer; }
  .test .current-size {
    color: #505050;
    margin-left: 16px;
    width: 32px; }
  .test .controls-separator {
    margin-top: 52px;
    margin-bottom: 12px; }
  .test .colors {
    width: 162px;
    color: #505050;
    cursor: pointer; }
    .test .colors .color {
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      border-radius: 50%; }
      .test .colors .color.-grey {
        background-color: #F5F6F7; }
      .test .colors .color.-black {
        background-color: #333333; }
      .test .colors .color.-green {
        background-color: #44BF75; }
      .test .colors .color.-red {
        background-color: #F01B47; }
  .test .type-your-text {
    font-size: 0.875em;
    line-height: 18px;
    color: #7C7C7C; }
  .test .font-test {
    margin: 32px 0;
    font-size: 24px;
    line-height: 2em;
    color: #333333;
    outline: none;
    transition: font-size 0.5s ease; }
    .test .font-test:focus {
      background-color: rgba(178, 183, 188, 0.4); }

.symbols-section {
  padding: 68px 0 48px 0; }
  .symbols-section .letters {
    padding: 72px 0 32px 0; }
    .symbols-section .letters .letter-view {
      font-size: 248px;
      color: #333333;
      line-height: 240px; }
    .symbols-section .letters .letter-large {
      width: 500px; }
    .symbols-section .letters .letter-code {
      color: #333333;
      margin-top: 70px;
      text-align: center; }
      .symbols-section .letters .letter-code .code {
        color: #7C7C7C; }
      .symbols-section .letters .letter-code span {
        margin: 0 4px; }
  .symbols-section .alphabet {
    width: 336px; }
    .symbols-section .alphabet div {
      display: inline-block;
      height: 50px;
      text-align: center; }
    .symbols-section .alphabet a {
      color: #333333;
      font-size: 18px;
      letter-spacing: 0.6px;
      line-height: 22px;
      padding: 4px 3px;
      transition: color 0.2s ease;
      display: inline-block;
      width: 36px; }
      .symbols-section .alphabet a:hover, .symbols-section .alphabet a.active {
        color: #F01B47; }
      .symbols-section .alphabet a.active {
        transition: background-color 0.3s ease;
        background-color: #F5F6F7;
        border-radius: 10px; }

.license {
  padding: 68px 0 48px 0;
  color: #333; }
  .license p {
    font-size: 18px;
    line-height: 29px;
    color: #333; }
  .license .example-1 {
    margin: 54px 0 39px 0; }
  .license .terms {
    white-space: pre-line;
    font-size: 14px;
    line-height: 18px; }

.download {
  padding: 48px 0 64px 0; }

.license .title, .download .title {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 24px; }

.download-link {
  display: inline-block;
  color: #44BF75;
  font-size: 16px; }
  .download-link:hover {
    text-decoration: underline; }

footer {
  background-color: #333333;
  padding: 18px 32px;
  font-size: 12px;
  line-height: 15px;
  color: #fff; }
